<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Moving Motivator{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body class="background-color: $cyan-100;">

<div class="container">
    <ul class="nav bg-info">
        <li class="nav-item">
            <a class="nav-link link-light" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="/">Teams</a>
        </li>
    <li class="nav-item">
        <a class="nav-link link-light">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        </a>
    </li>
    </ul>
</div>

    {% block content %}

    {% endblock %}


</body>
</html>
