<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Moving Motivator{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'MM/style.css' %}">

</head>
<body class="container bg-secondary">

<div class="container navbar-template">
    <ul class="nav bg-dark">
        <li class="nav-item me-5">
            <a class="nav-link link-info" class="home" href="/">Home</a>
        </li>
        <li class="nav-item me-5">
            <a class="nav-link link-info" class="team" href="/">Teams</a>
        </li>
        <li class="nav-item me-5">
            <a class="nav-link link-info" class="team" href="member_detail">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-info" class="team" href="/">Contact Us</a>
        </li>
    <li class="nav-item">
        <a class="nav-link link-info">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
        </a>
    </li>
    </ul>
</div>

    {% block content %}

    {% endblock %}


</body>
</html>
