<!DOCTYPE html>
<html lang="en">
{% extends "MM/base.html" %}
{% load static %}
    <link rel="stylesheet" href="{% static 'MM/style.css' %}">
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container member-template">
    <h2 style="margin-left: 0px;">Member:</h2>
    <p style="margin-left: 0px;">{{ member.user.get_full_name }}</p>
    <p style="margin-left: 0px;">Email: {{ member.user.email }}</p>
    <h3 style="margin-left: 390px; margin-top: -120px;">Motivators:</h3>
    <div style="margin-left: 350px; margin-top: 0px;">
        <ul>
            {% for motivator in motivators %}
                <li>
                    <h3>{{ motivator.moving_motivator.name }}</h3>
                    <p>{{ motivator.moving_motivator.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}


</html>